.cards{
  width: 832px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flip-card{
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  border: 0px solid #000000;
  margin: 4px;
}
.flip-card:hover .flipper{
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.flip-card, .flip-card .front, .flip-card .back{
  float: left;
  width: 200px;
  height: 180px;
}
.flipper{
  transition: 1.0s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-card .front{
  z-index: 0;
}
.flip-card .back{
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.flip-card .front, .flip-card .back{
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  text-align: center;
  position:absolute;
  backface-visibility: hidden;
}

.bg-color-dark-blue{
  border: 2px solid #00ccff;
  background: transparent;
}
.bg-color-light-blue{
  border: 2px solid #00ccff;
  background: transparent;
}
.bg-color-dark-green{
  border: 2px solid #00ccff;
  background: transparent;
}
.bg-color-light-green{
  border: 2px solid #00ccff;
  background: transparent;
}
.bg-color-dark-red{
  border: 2px solid #00ccff;
  background: transparent;
}
.bg-color-light-red{
  border: 2px solid #00ccff;
  background: transparent;
}
.bg-color-dark-yellow{
  border: 2px solid #00ccff;
  background: transparent;
}
.bg-color-light-yellow{
  border: 2px solid #00ccff;
  background: transparent;
}




